$color-white: #ffffff;
$color-black: #000000;

$color-primary: #04958F;
$color-primary-dark: #006A66;
$color-alt: #FF9900;
$color-alt-opacity: rgba(255, 153, 0, .2);
$color-primary-hover: #E5F0F0;
$primary-gradient: linear-gradient(90deg, $color-primary-dark 0%, $color-primary 100%);

$color-gray:#363740;
$color-gray-90: #9FA2B4;
$color-gray-80: #A4A6B3;
$color-gray-70: #DFE0EB;
$color-gray-60: #DDE2FF;
$color-gray-95: #3e4049;


$color-red:#F12B2C;
$color-red-opacity: rgba(215, 58, 73, .2);
$color-yellow:#FEC400;
$color-success: #29CC97;


$color-viber: #AC5B9A;
$color-telegram: #0EACEF;
$color-whatsapp: #67B75A;







$bp-xl: 1170px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
