$color-white: #ffffff;
$color-black: #000000;

$color-gray: #363740;
$color-gray-90: #9fa2b4;
$color-gray-80: #a4a6b3;
$color-gray-70: #dfe0eb;
$color-gray-60: #dde2ff;
$color-gray-95: #3e4049;
$color-gray-50: #c5c7cd;
$color-gray-40: #f7f8fc;

$color-red: #f12b2c;
$color-blue: #3751ff;
$color-yellow: #fec400;
$color-success: #29cc97;

$color-viber: #ac5b9a;
$color-telegram: #0eacef;
$color-whatsapp: #67b75a;

$bp-xl: 1170px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
