$color-white: #ffffff;
$color-black: #000000;

$color-primary: #04958F;
$color-primary-dark: #006A66;
$color-alt: #FF9900;
$color-alt-opacity: rgba(255, 153, 0, .2);
$color-primary-hover: #E5F0F0;
$primary-gradient: linear-gradient(90deg, $color-primary-dark 0%, $color-primary 100%);

$color-gray-98: #fafafa;
$color-gray-95: #f2f2f2;
$color-gray-90: #e6e6e6;
$color-gray-80: #cccccc;
$color-gray-70: #b3b3b3;
$color-gray-60: #999999;
$color-gray-40: #666666;
$color-gray-22: #383838;

$color-red:#F12B2C;
$color-red-opacity: rgba(215, 58, 73, .2);
$color-yellow:#FEC400;
$color-success: #29CC97;
$color-success-opacity: rgba(103, 183, 90, .2);
$color-blue: #0E4DEF;

$color-viber: #AC5B9A;
$color-telegram: #0EACEF;
$color-whatsapp: #67B75A;



$color-gray:#363740;

$maxWidthContainer:1120px;


$bp-xl: 1170px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
