@font-face {
   font-family: Mulish;
   font-display: swap;
   src: url("fnt/Mulish-Bold.ttf") format("ttf");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: Mulish;
   font-display: swap;
   src: url("fnt/Mulish-Regular.ttf") format("ttf");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Mulish;
   font-display: swap;
   src: url("fnt/Mulish-SemiBold.ttf") format("ttf");
   font-weight: 600;
   font-style: normal;
}

//@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
