.section {
    margin-bottom: toEm(50);

    &__header {
        h1, h2, h3, h4, h5 {
            font-family: Inter;
            font-weight: bold;
        }

        h1 {
            font-size: toEm(48);

            @media screen and (max-width: $bp-md) {
                font-size: toEm(42);
            }

            @media screen and (max-width: $bp-sm) {
                font-size: toEm(28);
            }
        }

        h2 {
            font-size: toEm(30);

            @media screen and (max-width: $bp-md) {
                font-size: toEm(28);
            }

            @media screen and (max-width: $bp-sm) {
                font-size: toEm(24);
            }
        }

        h3 {
            font-size: toEm(24);

            @media screen and (max-width: $bp-md) {
                font-size: toEm(22);
            }

            @media screen and (max-width: $bp-sm) {
                font-size: toEm(20);
            }
        }


        p {
            margin-top: toEm(10);
            font-weight:  300;
        }

        h1 ~ p {
            font-size: toEm(20);

            @media screen and (max-width: $bp-sm) {
                font-size: toEm(16);
            }
        }

        &--center {
            text-align: center;
        }
    }

    &--banner {
        background: $primary-gradient;
        color: $color-white;
        padding: {
            top: toEm(50);
            bottom: toEm(50);
        };

        p {
            font-weight: 300;
        }

        .container {
            position: relative;
            display: flex;
            gap: toEm(80);

            > * {
                flex: 1;
            }

            div {
                display: flex;
                justify-content: center;
                flex-direction: column;

                @media screen and (max-width: $bp-sm) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    padding: 0 15px;
                }
            }

            @media screen and (max-width: $bp-lg) {
                gap: toEm(40);
            }
        }

        @media screen and (max-width: $bp-sm) {
            padding: {
                top: toEm(25);
                bottom: toEm(25);
            };
        }
    }

    &--banner, &--reviews {
        h3 {
            font-family: Inter;
            font-size: toEm(30);
            font-weight: bold;
            margin-bottom: toRem(30);
        }

        @media screen and (max-width: $bp-lg) {
            h3 {
                font-size: toEm(24);
            }
        }
    }

    @media screen and (max-width: $bp-sm) {
        margin-bottom: toEm(40);
    }
}
//? All imports 
//@import 'sections/top';
