.form {
   display: flex;
   flex-direction: column;
   gap: toRem(15);
   &__footer {
      display: flex;
      justify-content: center;
      gap: toRem(15);
   }
   &__group {
      width: 100%;
      position: relative;

      label {
         text-transform: capitalize;
         color: $color-gray;
      }
      &-select {
         label {
            margin-bottom: 10px;
            display: block;
         }
      }
      .input--text {
         margin-top: 10px;
         display: block;
      }
   }
   .file-area {
      background-color: $color-gray-40;
      padding: 10px;
      text-align: center;
      border: 1px dashed $color-gray-90;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
         width: 100px;
         object-fit: cover;
         height: 100%;
      }
   }
   .file--downloaded {
      background-color: $color-success;
      border: 1px dashed $color-success-90;
      label {
         color: $color-white;
      }
   }
}
