.modal {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.7);
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   &__body {
      background-color: white;
      padding: 20px;
      width: 700px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 101;
   }

   &__title {
      display: inline-block;
      width: 100%;
      text-align: center;
   }
}
