@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@function toEm($value) {
    $remValue: ($value / 16) + em; 
    @return $remValue;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}